@charset "utf-8";
h1 {
  font-size: 60px;
  color: #ff0000;
  border: 20px solid #008000;
}
.page2 h1 {
  border: 20px solid #808080;
}

@charset "utf-8";
p {
  font-style: italic;
  font-size: 18px;
}
a {
  font-size: 14.4px;
  color: blue;
}
